<main class="form-signin">
  <form [formGroup]="registerForm" (ngSubmit)="signupUser()">
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

    <div class="form-floating">
      <input type="text" formControlName="name" class="form-control" id="floatingName" placeholder="Name">
      <label for="floatingName">Name</label>
    </div>
    <div class="form-floating">
      <input type="email" formControlName="email" class="form-control" id="floatingInput"
        placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" formControlName="password" class="form-control" id="floatingPassword"
        placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" formControlName="confirm_password" class="form-control" id="floatingConfirmPassword"
        placeholder="Confirm password">
      <label for="floatingConfirmPassword">Confirm password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" name="submit">Sign up</button>
    <p class="mt-5 mb-3">Already have an account? <a href="login.php">Login here!</a></p>
    <p class="mt-5 mb-3 text-muted">&copy; ISET Bizerte-DSI3 - 2021</p>
  </form>
</main>
