

    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url(assets/images/heading-6-1920x500.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="text-content">
                <br><br>
                <h2>bienvenue chez nous</h2>
                <br><br><br><br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-heading">
          <br>
        <h2 style="margin-left: 10%;">Maison a vendre</h2>
        <div style="margin-left: 70%; padding-right: 9%;">
          <input class="form-control" type="text" placeholder="Search des maison" aria-label="Search des maison">
       </div>
          </div>
      <div class="products">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="product-item">
                <a routerLink="/detail"><img src="assets/images/product-details-1-740x540.jpg" alt=""></a>
                <div class="down-content">
                  <a routerLink="/detail"><h4>Bizert</h4></a>
  
                  <h6>$400</h6>
  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum incidunt, aperiam nostrum et. Voluptas vel labore numqua.</p>
  
                
                </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="product-item">
                <a routerLink="/detail"><img src="assets/images/product-details-1-740x540.jpg" alt=""></a>
                <div class="down-content">
                  <a routerLink="/detail"><h4>Tunis</h4></a>
  
                  <h6>$400</h6>
  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum incidunt, aperiam nostrum et. Voluptas vel labore numqua.</p>
  
                 
                </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="product-item">
                <a routerLink="/detail"><img src="assets/images/product-details-1-740x540.jpg" alt=""></a>
                <div class="down-content">
                  <a routerLink="/detail"><h4>Gabes</h4></a>
  
                  <h6>$400</h6>
  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum incidunt, aperiam nostrum et. Voluptas vel labore numqua.</p>
  
                 
                </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="product-item">
                <a routerLink="/detail"><img src="assets/images/product-details-1-740x540.jpg" alt=""></a>
                <div class="down-content">
                  <a routerLink="/detail"><h4>Ariena</h4></a>
  
                  <h6>$400</h6>
  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum incidunt, aperiam nostrum et. Voluptas vel labore numqua.</p>
  
                
                </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="product-item">
                <a href="/detail"><img src="assets/images/product-details-1-740x540.jpg" alt=""></a>
                <div class="down-content">
                  <a routerLink="/detail"><h4>Monastir</h4></a>
  
                  <h6>$400</h6>
  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum incidunt, aperiam nostrum et. Voluptas vel labore numqua.</p>
  
                
                </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="product-item">
                <a routerLink="/detail"><img src="assets/images/product-details-1-740x540.jpg" alt=""></a>
                <div class="down-content">
                  <a routerLink="/detail"><h4>Beja</h4></a>
  
                  <h6>$400</h6>
  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum incidunt, aperiam nostrum et. Voluptas vel labore numqua.</p>
  
                </div>
              </div>
            </div>
  
            <div class="col-md-12">
              <ul class="pages">
                <li><a routerLink="">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a routerLink="#">3</a></li>
                <li><a routerLink="#">4</a></li>
                <li><a routerLink="#"><i class="fa fa-angle-double-right"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
