

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" routerLink="/"><h2>3a9ari  <em>Agency</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/home">Home
                      <span class="sr-only">(current)</span>
                    </a>
                </li> 

                <li class="nav-item" *ngIf="service.valide"  ><a class="nav-link" routerLink="/maison">Maison</a></li>
                <li class="nav-item" *ngIf="service.valide1"  ><a class="nav-link" routerLink="/maison">Maison</a></li>
                <li class="nav-item dropdown" *ngIf="service.valide2">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">Maison</a>
                  
                  <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/maison">consulter les maison</a>
                    <a class="dropdown-item" routerLink="/ajouter">add Maison</a>
                    <a class="dropdown-item" routerLink="/consulterm">gerée Maison</a>
                  </div>
              </li>

                <li class="nav-item" *ngIf="service.valide" ><a class="nav-link" routerLink="/terrain">Terrain</a></li>
                <li class="nav-item" *ngIf="service.valide1"  ><a class="nav-link" routerLink="/terrain">Terrain</a></li>
                <li class="nav-item dropdown" *ngIf="service.valide2">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">Terrain</a>
                  
                  <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/terrain">consulter les terrain</a>
                    <a class="dropdown-item" routerLink="/ajouter">add Terrain</a>
                    <a class="dropdown-item" routerLink="/consultert">gerée Terrain</a>
                  </div>
              </li>

               
              
                <li class="nav-item"><a  *ngIf="service.valide"class="nav-link" routerLink="/about/login">Login</a>
                  <a  *ngIf="!service.valide"class="nav-link" routerLink="/about/login" (click) = "logout()" >Logout</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  