
    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url(assets/images/heading-6-1920x500.jpg);">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <div class="text-content">
            
             <h2>Terain detail</h2>
           </div>
         </div>
       </div>
     </div>
   </div>

      <div class="products">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div>

                <img src="assets/images/{{terrain?.image}}" alt="" class="img-fluid wc-image" style="width: 700px;height: 400px;padding-top: 50px;">
              </div>
              <br>

            </div>

            <div class="col-md-6">
                <p class="lead">
                     &nbsp;&nbsp; Publiet par :<i class="fa fa-cube"></i> {{terrain?.name}} &nbsp;&nbsp;
                </p>

                <br>

                <p><i class="fa fa-map-marker"></i>  <strong>{{terrain?.lieu}}</strong></p>

                <br>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem voluptatem vero culpa rerum similique labore, nisi minus voluptatum numquam fugiat. <br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat fugit sint reiciendis quas temporibus quam maxime nulla vitae consectetur perferendis, fugiat assumenda ex dicta molestias soluta est quo totam cum?</p>

                <p> {{terrain?.description}}</p>


            </div>
          </div>
        </div>
      </div>



      <div class="section">
        <div class="container">
          <div class="section-heading" style="border: 0">
            <h2>Info</h2>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
                 <div class="row">
                      <div class="col-md-2 col-sm-3">
                           <p class="pjVpProductPolicyTitle">
                                <strong>surface de terrain</strong>
                           </p>
                      </div>
                      <div class="col-md-10 col-sm-9">
                           <p>
                            {{terrain?.surface}}  </p>
                      </div>
                 </div>
            </li>

            <li class="list-group-item">
                 <div class="row">
                      <div class="col-md-2 col-sm-3">
                           <p>
                                <strong>prix</strong>
                           </p>
                      </div>

                      <div class="col-md-10 col-sm-9">
                           <p>
                            {{terrain?.prix}}   </p>
                      </div>
                 </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                   <div class="col-md-2 col-sm-3">
                        <p>
                             <strong>Email</strong>
                        </p>
                   </div>

                   <div class="col-md-10 col-sm-9">
                        <p>
                         {{terrain?.mail}}   </p>
                   </div>
              </div>
         </li>
         <li class="list-group-item">
          <div class="row">
               <div class="col-md-2 col-sm-3">
                    <p>
                         <strong>adresse</strong>
                    </p>
               </div>

               <div class="col-md-10 col-sm-9">
                    <p>
                     {{terrain?.lieu}}   </p>
               </div>
          </div>
     </li>
     <li class="list-group-item">
      <div class="row">
           <div class="col-md-2 col-sm-3">
                <p>
                     <strong>detail</strong>
                </p>
           </div>

           <div class="col-md-10 col-sm-9">
                <p>
                 {{terrain?.detail}}   </p>
           </div>
      </div>
  </li>


       </ul>


        </div>
      </div>










































































  <div  >
    <div class="contact-form">
    <fieldset>
      &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; <button type="submit" id="form-submit" routerLink='/about' routerLinkActive="router-link-active"  class="filled-button">pour plus de detail</button>
    </fieldset>
   </div>
  </div>


