
    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url(assets/images/heading-6-1920x500.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
            
              <div class="text-conbtent">
              <br><br>
                <h2>bienvenue chez 3a9arek</h2>
                <br>
                <br><br><br>
              </div>
            </div>
          </div>
        </div>
      </div>
  







  
      <div class="latest-products">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>les maisons </h2>
                <a routerLink="/hotel">voir plus <i class="fa fa-angle-right"></i></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="product-item">
                <a routerLink="package-details.html"><img src="assets/images/product-details-1-740x540.jpg" alt=""></a>
                <div class="down-content">
                  <a routerLink="package-details.html"><h4>benarous</h4></a>
  
                  <h6>$400</h6>
  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum incidunt, aperiam nostrum et. Voluptas vel labore numqua.</p>
  
                
                </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="product-item">
                <a routerLink="package-details.html"><img src="assets/images/product-details-1-740x540.jpg" alt=""></a>
                <div class="down-content">
                  <a routerLink="package-details.html"><h4>mater</h4></a>
  
                  <h6>$400</h6>
  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum incidunt, aperiam nostrum et. Voluptas vel labore numqua.</p>
  
                 
                </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="product-item">
                <a routerLink="package-details.html"><img src="assets/images/product-details-1-740x540.jpg" alt=""></a>
                <div class="down-content">
                  <a routerLink="package-details.html"><h4>bizert</h4></a>
  
                  <h6>400</h6>
  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum incidunt, aperiam nostrum et. Voluptas vel labore numqua.</p>
  
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  


  
      <div class="latest-products">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>les terrains </h2>
                <a routerLink="/hotel">voir plus <i class="fa fa-angle-right"></i></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="product-item">
                <a routerLink="package-details.html"><img src="assets/images/Terrain.jpg" alt=""></a>
                <div class="down-content">
                  <a routerLink="package-details.html"><h4>ariena</h4></a>
  
                  <h6>$400</h6>
  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum incidunt, aperiam nostrum et. Voluptas vel labore numqua.</p>
  
                
                </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="product-item">
                <a routerLink="package-details.html"><img src="assets/images/Terrain.jpg" alt=""></a>
                <div class="down-content">
                  <a routerLink="package-details.html"><h4>gabes</h4></a>
  
                  <h6>$400</h6>
  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum incidunt, aperiam nostrum et. Voluptas vel labore numqua.</p>
  
                 
                </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="product-item">
                <a routerLink="package-details.html"><img src="assets/images/Terrain.jpg" alt=""></a>
                <div class="down-content">
                  <a routerLink="package-details.html"><h4>tunis</h4></a>
  
                  <h6>$400</h6>
  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum incidunt, aperiam nostrum et. Voluptas vel labore numqua.</p>
  
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
   


    